@using WebApp.Resources;
@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}
<div class="container-xfluid">
    
    <div class="row justify-content-center">

        <div class="col-12 bg-black">

            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                <div class="carousel-fade">
                  <div class="carousel-item active">
                        <img class="d-block w-50" src="Media/HomeCarousel/H-a1-middle.jpg" alt="First slide">
                  </div>
                  <div class="carousel-item">
                        <img class="d-block w-20" src="Media/HomeCarousel/H-a2-middle.jpg" alt="Second slide">
                  </div>
                  <div class="carousel-item">
                        <img class="d-block w-20" src="Media/HomeCarousel/H-a3-middle.jpg" alt="Third slide">
                  </div>
                    <div class="carousel-item">
                        <img class="d-block w-20" src="Media/HomeCarousel/H-a4-middle.jpg" alt="Fourth slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-20" src="Media/HomeCarousel/H-a5-middle.jpg" alt="Fifth slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-20" src="Media/HomeCarousel/H-a7-middle.jpg" alt="Sixth slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-20" src="Media/HomeCarousel/H-bevblink-middle.jpg" alt="Seventh slide">
                  </div>
                  <div class="carousel-item">
                        <img class="d-block w-20" src="Media/HomeCarousel/H-Kurt-middle.jpg" alt="Eigth slide">
                  </div>
                  <div class="carousel-item">
                        <img class="d-block w-20" src="Media/HomeCarousel/H-start-middle.jpg" alt="Ninth slide">
                  </div>
                    <div class="carousel-item">
                        <img class="d-block w-20" src="Media/HomeCarousel/H-trailer-middle.jpg" alt="Tenth slide">
                    </div>
                </div>
            </div>
                    
        </div>

    </div>
    
    <div class="row justify-content-center">
        <div class="col-auto">

            <br><br>

            <p>
                @St.r("intro.p1");
            </p>
            <p>
                @St.r("intro.p2");
            </p>

            <p>
                @St.r("intro.p3");
            </p>
        </div>

        </div>

    <div class="row justify-content-center">

        <div class="col-8 align-content-center">
            <br>
            <p><b> What should this phenomenon be called?</b> </p> 
            <p>
                Earthlights? Min-min lights? Unknown lights? - Or, just: The "<b>Hessdalsphenomena</b>".
            </p>
            <br />
                <p>
                    <b>Why is it important to observe and study this phenomenon?</b>
            </p> 
            
            There are several answers to this question:
            <ul>
                <li>Knowledge of the Hessdalenphenomenon may give us a better 
                    understanding of our world. <i>.. Better knowledge of our world will give us a better understanding 
                    of the consequencies of our treatment 
                    of the natural environment.</i></li>
                <li>We know the light phenomena produces considerable luminous energy. 
                    Can a study of the Hessdalenphenomenon lead us to a new clean energy source?</li>
                <li>Todays mystery may be tomorrows technology.</li>
                <li>Scientific validation of the phenomenon will make it easier for people 
                    to disclose their personal observations. More candor about the phenomena, 
                    as well as other "unknown" phenomena, will facilitate legitimate research on all anomalies. 
                    Hopefully, understanding these anomalies and recognizing they exist, will bring
                    new respect for the delicate balance of the Natural World.
                </li>
            </ul>
        </div>
        
    </div>

    <br /><br />

    <div class="row justify-content-center">
        <div class="col-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/RR2TRGq2Zec" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/6o0CHUlI43o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

    </div>


</div>
