@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}
<div class="container-xfluid">
    
    <div class="row justify-content-center">

        <div class="col-12 bg-black">

            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                <div class="carousel-fade">
                  <div class="carousel-item active">
                        <img class="d-block w-50" src="Media/HomeCarousel/H-a1-middle.jpg" alt="First slide">
                  </div>
                  <div class="carousel-item">
                        <img class="d-block w-20" src="Media/HomeCarousel/H-a2-middle.jpg" alt="Second slide">
                  </div>
                  <div class="carousel-item">
                        <img class="d-block w-20" src="Media/HomeCarousel/H-a3-middle.jpg" alt="Third slide">
                  </div>
                    <div class="carousel-item">
                        <img class="d-block w-20" src="Media/HomeCarousel/H-a4-middle.jpg" alt="Fourth slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-20" src="Media/HomeCarousel/H-a5-middle.jpg" alt="Fifth slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-20" src="Media/HomeCarousel/H-a7-middle.jpg" alt="Sixth slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-20" src="Media/HomeCarousel/H-bevblink-middle.jpg" alt="Seventh slide">
                  </div>
                  <div class="carousel-item">
                        <img class="d-block w-20" src="Media/HomeCarousel/H-Kurt-middle.jpg" alt="Eigth slide">
                  </div>
                  <div class="carousel-item">
                        <img class="d-block w-20" src="Media/HomeCarousel/H-start-middle.jpg" alt="Ninth slide">
                  </div>
                    <div class="carousel-item">
                        <img class="d-block w-20" src="Media/HomeCarousel/H-trailer-middle.jpg" alt="Tenth slide">
                    </div>
                </div>
            </div>
                    
        </div>

    </div>
    
    <div class="row justify-content-center">
        <div class="col-auto">

            <br><br>

            <p>
                Hessdalen is a small valley in the central part of Norway. At the end of 1981 through 1984, residents of the Valley became concerned and alarmed about strange, unexplained lights that appeared at many locations throughout the Valley. 
                Hundreds of lights were observed. At the peak of activity there were about 20 reports a week.
            </p>
            <p>
                Project Hessdalen was established in the summer of 1983. A field investigation was carried out between 21.January and 26.February 1984. 
                Fifty-three light observations were made during the field investigation. You may read the details in the technical report. 
                There was an additional field investigation in the winter of 1985. However, no phenomena were seen during the period when the instruments were present.
            </p>

            <p>
                Lights are still being observed in the Hessdalen Valley, but their frequency has decreased to about 20 observations a year. An automatic measurement station was put up in Hessdalen in August 1998. 
                Both data and alarm-pictures can be viewed on this website.
            </p>
        </div>

        </div>

    <div class="row justify-content-center">

        <div class="col-8 align-content-center">
            <br>
            <p><b> What should this phenomenon be called?</b> </p> 
            <p>
                Earthlights? Min-min lights? Unknown lights? - Or, just: The "<b>Hessdalsphenomena</b>".
            </p>
            <br />
                <p>
                    <b>Why is it important to observe and study this phenomenon?</b>
            </p> 
            
            There are several answers to this question:
            <ul>
            <li>Knowledge of the Hessdalenphenomenon may give us a better 
            understanding of our world. <i>.. Better knowledge of our world will give us a better understanding 
            of the consequencies of our treatment 
            of the natural environment.</i></li>
            <li>We know the light phenomena produces considerable luminous energy. 
            Can a study of the Hessdalenphenomenon lead us to a new clean energy source?</li>
            <li>Todays mystery may be tomorrows technology.</li>
            <li>Scientific validation of the phenomenon will make it easier for people 
            to disclose their personal observations. More candor about the phenomena, 
            as well as other "unknown" phenomena, will facilitate legitimate research on all anomalies. 
            Hopefully, understanding these anomalies and recognizing they exist, will bring
            new respect for the delicate balance of the Natural World.
            </li>
            </ul>
            <hr>
            <p>
        </div>
        
    </div>


</div>
