@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<form>
    <div class="form-group">
        <br />
        <br />


        <label for="Sighting">Observer</label>
        <input type="text" class="form-control" placeholder="Name" >
        <br />

        <label for="Sighting">Place</label>
        <input type="text" class="form-control" placeholder="Name">

        <br />
        <label for="Sighting">Date and time</label>
        <input type="datetime-local" id="meeting-time" name="meeting-time" value="Now" min="2018-06-07T00:00" max="2018-06-14T00:00">

        <br/>
        <br/>
        <br/>
        <textarea  name="description" rows="10" cols="143">Describe your sighting!</textarea>

        <br />
        <br />
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    
</form>