html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    
}

.landing-page {
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
    font-size: 40px;
    background-color: black;
}

a:hover {
    color: yellow;
    background-color: darkgray;
}

#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
}

.over-video{
    z-index: 3;
}