html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.full-screen {
    height: auto;
    width: auto;
    justify-content: center;
    align-items: center;
    padding-top: 20%;
}